body {
    min-height: 100vh;

    background: -webkit-gradient(linear, left bottom, right top, from(#ff3737), to(#e2d818));
    background: -webkit-linear-gradient(bottom left, #ff3737 0%, #e2d818 100%);
    background: -moz-linear-gradient(bottom left, #ff3737 0%, #e2d818 100%);
    background: -o-linear-gradient(bottom left, #ff3737 0%, #e2d818 100%);
    background: linear-gradient(to top right, #ff3737 0%, #e2d818 100%);
  }

  .input-form {
    max-width: 680px;

    margin-top:60px;
    padding: 32px;

    background: rgb(116, 225, 185);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
  }